body {
  background: #ecf0f1;
  margin:0;
  width:100%;
  
  font-family:'Raleway';
}

#app {
    
    width:100%;
    height:100vh;
    font-family:'Raleway';
    color:#fff;
    text-align:center;
    display:flex;
    background:url("https://raw.githubusercontent.com/abhiprojectz/corona-wish/master/src/6.jpg");
    background-size:cover;
    
    -webkit-animation: slit-in-horizontal 4s ease-out both;
            animation: slit-in-horizontal 04s ease-out both;

}

@-webkit-keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
            transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
            transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
            transform: translateZ(0) rotateX(0);
  }
}
@keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
            transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
            transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
            transform: translateZ(0) rotateX(0);
  }
}


#app .content {
    width:100%;
    margin:auto;
    display:block;
    position:middle ;
}

#app h2 {
    color:#fff;
    font-size:30;
    margin:15px;
    font-weight:900;
    margin:auto;
}


#app p {
    margin:auto;
    margin-top:20px;
    color:teal;
    font-style:18px;
}
button {
  display: block;
  height: 50px;
  width: 186px;
  position: relative;
  overflow: hidden;
  border: none;
  margin:auto;
  text-decoration: none;
  text-transform: uppercase;
  margin-top:30px;
  margin-bottom:30px;
  font-weight:900;
  border-radius:15px;
  outline: none;
  color: white;
  font-size: 16px;
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  text-align: center;
}

#info {
    
    width:100%;
    background:url("https://raw.githubusercontent.com/abhiprojectz/corona-wish/master/src/wave.png");
    height:100vh;
    display:flex;
    background-size:cover;
    flex-direction:column;
    
    
}


    

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

p {
    
    -webkit-animation: text-shadow-drop-center 6s both;
            animation: text-shadow-drop-center 6s both;
}

#info p {
    
    margin:auto;
    top:0;
    bottom:0;
    width:100%;
    font-size:22;
    right:0;
    margin-top:30px;
    font-weight:900;
    
}

#footer {
    
    width:100%;
    height:50px;
    font-weight:900;
    color:#fff;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    font-family:'Raleway';
    text-align:center ;
}

a {
    
    text-decoration: none;
    color:#fff;
}